@page
@model PatientInformation.Pages.Admin.EditAdminModel
@{
}
<br>
<h2>Edit Admin</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>

        <strong>@Model.errorMessage</strong>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'>
        </button>

    </div>
}
<form method="POST">
    <input type="hidden" name="admin_id" value="@Model.adminInfo.admin_id">

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">First Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="admin_firstName" value="@Model.adminInfo.admin_firstName">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Last Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="admin_lastName" value="@Model.adminInfo.admin_lastName">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="admin_email" value="@Model.adminInfo.admin_email">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="admin_username" value="@Model.adminInfo.admin_username">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="admin_password" value="@Model.adminInfo.admin_password">
        </div>
    </div>

    


    @if (Model.successMessage.Length > 0)
    {
        <div class='alert alert-warning alert-dismissible fade show' role='alert'>

            <strong>@Model.successMessage</strong>
            <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='close'>
            </button>

        </div>
    }


    <div class="row mb-3">

        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary" name="Submit">Submit</button>
        </div>

        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>

    </div>
</form>

